openbb>=4.0,<5.0
backtesting==0.3.3
# Use wheel hosted by pandas-ta site compatible with Python 3.11
pandas-ta @ https://www.pandas-ta.dev/assets/zip/pandas_ta-0.4.26b0-py3-none-any.whl
pandas>=2.0,<3.0
numpy>=1.24,<2.0
matplotlib>=3.7,<4.0
plotly>=5.0,<6.0
jupyterlab>=4.0,<5.0
